/** Dropdown Menu Widget Admin Styles */
.shailan_dm_input{padding:10px;}
.shailan_dm_input.shailan_dm_paragraph{ background: #ddd; padding:10px; }
.shailan_dm_input.shailan_dm_splitter{ border-top:1px solid #ddd; font-size:1px; line-height:1px; height:1px; margin-top:12px; margin-bottom:12px; padding:0; }
.shailan_dm_paragraph p{ margin:0; line-height:1.5em; }
.shailan_dm_input small{font-style:italic; font-size:smaller; color:#666;}
.shailan_dm_input label{	font-size:12px;
	width:200px;
	display:block;
	float:left;	}

.shailan_dm_input input[type=text]{
	width:280px;}

.shailan_dm_input textarea{
	width:400px; height:150px; }
	
#widgets-right .widgets-sortables{ min-height:0px; }

.widget-holder{position:relative; zoom:1;}

#picker{ position:absolute; top:10px; right:10px; }



.sidebar-name{overflow:auto; display:block;}
.sidebar-name h3{float:left;}
.sidebar-name span{float:right;}

input.selected{border:1px solid #f93}
input.color-error{border:1px solid #f00;}

#widgets-right .shailan-dropdown, #widgets-left .shailan-dropdown .widget-top{ border-color: #F90; }
#widgets-right .shailan-dropdown-multi, #widgets-left .shailan-dropdown-multi .widget-top{ border-color: #F90; }

.ads{
	background-color: #F1F1F1;
	border: 1px solid #DDDDDD;
	padding: 10px;
	text-align:center;
	border-radius: 8px 8px;
	-moz-border-radius: 8px 8px;
	-webkit-border-radius: 8px 8px;
}