@charset "UTF-8";

ul.dropdown li {
	padding: 7px 20px;
	border-right: 1px solid #999;
	color: #333;
	text-align:center;
	background:#c2c2c2 url('images/default1_g.jpg') repeat-x bottom;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	font-weight:bold;
	text-transform:uppercase;
}
ul.dropdown li.hover,
ul.dropdown li:hover {
 background:#b1b1b1 url('images/default2_g.jpg') repeat-x bottom;
 border-bottom:#999;
}
ul.dropdown a:link,
ul.dropdown a:visited	{ color: #333; text-decoration: none; display:block; }
ul.dropdown a:hover	{ color: #fff; }
ul.dropdown a:active	{ color: #fff; }
/* -- level mark -- */
ul.dropdown ul {
	margin-top: 0px;
	margin-left:-1px;
	border-bottom:1px solid #999;
	font-size:0.8em;
}
	ul.dropdown ul li {
		background:#c2c2c2;
		text-align: left;
		border-left:1px solid #999;
		border-top:1px solid #999;
	}

ul.dropdown li.current_page_item a, ul.dropdown li.current-cat a { color: #efefef; }

ul.dropdown li.current-cat a, ul.dropdown li.current-cat a:link { color: #efefef; }
ul.dropdown li.current-cat a:hover{ color: #efefef; }
ul.dropdown li.current-cat a:visited{ color: #efefef; }

ul.dropdown li.current_page_item a:link,ul.dropdown li.current_page_item a:visited { color: #efefef; }
ul.dropdown li.current_page_item ul a,ul.dropdown li.current_page_item ul a:visited, li.current_page_item ul a:link { color: #efefef; }
ul.dropdown li.current_page_ancestor a,ul.dropdown li.current_page_ancestor a:visited,ul.dropdown li.current_page_ancestor a:link { text-decoration:underline; }
ul.dropdown li.current_page_ancestor ul a,ul.dropdown li.current_page_ancestor ul a:visited,ul.dropdown li.current_page_ancestor ul a:link {text-decoration:none;}

.shailan_DropdownWidget{ background:#c2c2c2 url('images/default1_g.jpg') repeat-x bottom; }