/* --- Dropdown background --- */
.shailan-dropdown-menu{ background:#000 url(images/btn3.jpg) repeat-x; height:31px;  }

/* --- Dropdown basics ---*/

ul.dropdown {
	background-color:transparent;
	border-width:0px;
	padding:0px 0px 0px 0px;
}

ul.dropdown li{
	display:block;
	font-size:0px;
	margin:0px;
}

ul.dropdown ul li {
	float:none;
}

ul.dropdown ul a {
	text-align:left;
	white-space:nowrap;
}

ul.dropdown li:hover{
	position:relative;
}

ul.dropdown a:active, ul.dropdown a:focus {
	outline-style:none;
}

ul.dropdown a {
	display:block;
	vertical-align:middle;
	background-color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	padding:8px 5px 0px 5px;
	font:normal 11px Tahoma;
	color: #000;
	text-decoration:none;
}

ul.dropdown li a{
	height:100%;
	border-width:0px;
	font:normal 11px Tahoma;
	color:#fff;
}

/*--- Top level ---*/

ul.dropdown li a{
	width:100px;
	height:23px;
	color:#fff;
	background:transparent;
}

ul.dropdown li a:hover{
	background:url('./images/btn4.jpg') no-repeat;
	font:normal 11px Tahoma;
	color:#eee;
}


/*--- Sub level ---*/

ul.dropdown ul {
	margin:0px;
	list-style:none;
	padding:0px;
	background:#fff;
	border:1px solid #808080;
}

ul.dropdown ul li a{
	color:#444;
	border:1px solid #fff;
	width:auto;
	min-width:100px;
	padding:2px;
	margin:2px;
	height:auto;
}

ul.dropdown ul li a:hover {
	background-image:none;
	color:#444;
	border:1px solid #45ADE4;
	background-color:#DBF0F9;
	font:normal 11px Tahoma;
}

ul.dropdown table {border-collapse:collapse} 

ul.dropdown {
	display:block;
	zoom:1;
	height:21px;
	float: left;
}


ul.dropdown ul li a:hover{
	position:relative;
	background-color:#DBF0F9;
	border-color:#45ADE4;
	border-style:solid;
	font:normal 11px Tahoma;
	color: #444;
	text-decoration:none;
}

ul.dropdown-vertical>li>a{
	background:#000 url(images/btn3.jpg) repeat-x; height:22px; 
} 

