#TabMenu1 #active a
{
   background-position: 0% -84px;
}
#TabMenu1 #active a span
{
   background-position: 100% -84px;
   color: #FFFFFF;
   font-weight: bold;
   text-decoration: none;
}

ul.dropdown{
	background:tranparent url(images/trans-white.png);
	
	float: left;
	width: 100%;
	font-family: Arial;
	font-size: 13px;
	line-height: normal;
	
	margin: 0;
	padding: 10px 10px 0px 10px;
	list-style: none;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 cursor: default;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

	ul.dropdown li {
		text-align:center;		
		display: inline;
		margin: 0;
		padding: 0;
	}
	
	ul.dropdown li+li{
		
	}
	
	ul.dropdown-vertical li+li{
	
	}
	
	ul.dropdown li.hover,
	ul.dropdown li:hover {
		background:transparent url(images/trans-white.png);
		color: #000;
	}
    
	ul.dropdown li a{ 
		padding:3px 15px; 
		
		background: url("images/style03left.gif") no-repeat left top;
		margin: 0;
		padding: 0 0 0 4px;
		text-decoration: none;
		
	}
	
	ul.dropdown a:hover
	{
	   background-position: 0% -42px;
	}
	
	ul.dropdown li a span{
	   float: none;
	   display: block;
	   background: url("images/style03right.gif") no-repeat right top;
	   padding: 5px 15px 4px 6px;
	   color: #FFFFFF;
	   font-weight: bold;
	   text-decoration: none;
	}
	
	ul.dropdown a:hover span
	{
	   background-position: 100% -42px;
	   color: #FFFFFF;
	   font-weight: bold;
	   font-style: normal;
	   text-decoration: none;
	}
	
	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: #666; text-decoration: none; display:block; }
	ul.dropdown a:hover	{ color: #000; }
	ul.dropdown a:active	{ color: #fff; }
	
	
	/* -- level mark -- */
	ul.dropdown ul {
		margin-top: 0px;
		margin-left:-1px;
		display:none;
	}
		ul.dropdown ul li {

		}
		
li.current_page_item a { color: #ddd; }
li.current_page_item a:link, li.current_page_item a:visited { color: #000; }
li.current_page_item ul a, li.current_page_item ul a:visited, li.current_page_item ul a:link { color: #000; }
li.current_page_ancestor a,li.current_page_ancestor a:visited, li.current_page_ancestor a:link {text-decoration:underline;}
li.current_page_ancestor ul a, li.current_page_ancestor ul a:visited, li.current_page_ancestor ul a:link {text-decoration:none;}

.shailan-dropdown-menu{
	background:#eaf3ff url(images/tabs-blue-bg.gif) bottom left repeat-x;
	border:1px solid #2a54c2;
	}