@charset "UTF-8";

ul.dropdown li {

	color: #4283b9;
	text-align:center;
	background:#60a3da url('images/default1.jpg') repeat-x bottom;
}
ul.dropdown-vertical li{
	border-top:1px solid #4283b9;
}

ul.dropdown li+li {
	border-left:1px solid #4283b9;
}
ul.dropdown li a{ padding: 7px 20px; }
ul.dropdown li.hover,
ul.dropdown li:hover {
	background:#4283b9 url('images/default2.jpg') repeat-x bottom;
}
ul.dropdown a:link,
ul.dropdown a:visited	{ color: #c8daeb; text-decoration: none; display:block; }
ul.dropdown a:hover	{ color: #fff; }
ul.dropdown a:active	{ color: #fff; }
/* -- level mark -- */
ul.dropdown ul {
	margin-top: 0px;
	margin-left:-1px;
	border-bottom:1px solid #4283b9;
	border-right:1px solid #4283b9;
}
	ul.dropdown ul li {
		background:#60a3da;
		text-align: left;
		border-left:1px solid #4283b9;
		border-top:1px solid #4283b9;
	}

ul.dropdown li.current_page_item a { color: #fff; }
ul.dropdown li.current_page_item a:link,ul.dropdown li.current_page_item a:visited { color: #fff; }
ul.dropdown li.current_page_item ul a,ul.dropdown li.current_page_item ul a:visited, li.current_page_item ul a:link { color: #fff; }
ul.dropdown li.current_page_ancestor a,ul.dropdown li.current_page_ancestor a:visited,ul.dropdown li.current_page_ancestor a:link { text-decoration:underline; /*color:#fff;*/ }
ul.dropdown li.current_page_ancestor ul a,ul.dropdown li.current_page_ancestor ul a:visited,ul.dropdown li.current_page_ancestor ul a:link {text-decoration:none;}

.shailan-dropdown-menu{ background:#60a3da url('images/default1.jpg') repeat-x bottom; }